/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

body {
    background-color: #1b98e0;
}

@media screen and (min-width: 1100px) {
    .logo.big {
        font-size: 50px;
    }
}

@media screen and (min-width: 601px) {
    header {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 3fr 0.5em 6fr 0.5em 3fr;
        grid-template-columns: 3fr 6fr 3fr;
        grid-template-areas: "logo slider buttons";
        grid-column-gap: 0.5em;
    }

    .buttons {
        text-align: right;
    }

    .logo.small {
        display: none;
    }

    .logo.big {
        margin-top: 20px;
        margin-left: 10px;
        font-size: 40px;
    }

}


/*@media screen and (max-width: 992px) {*/
/*    body {*/
/*        background-color: blue;*/
/*    }*/
/*}*/

@media screen and (max-width: 620px) {
    header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        /*background-color: blue;*/
        text-align: center;
    }

    .logo.big {
        display: none;
    }

    .logo.small {
        margin-top: 10px;
        font-size: 40px;
    }

    .buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .buttons img {

        /*width: 50%;*/
    }
}

.logo {
    grid-area: logo;
    font-family: "Great Vibes";
    font-weight: bold;
    color: #2364aa;
}

.buttons {
    grid-area: buttons;
    margin: 10px;
}

.buttons img {
    height: 50px;
    margin: 5px;
}

.slider {
    grid-area: slider;
}

@media screen and (min-width: 601px) {
    .logo {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .buttons {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
    }
    .slider {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
}





/* Slideshow container */
.slideshow-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* Hide the images by default */
.mySlides {
    display: none;
    text-align: center;
    width: 300px;
}

.mySlides img {
    height: 110px;
    width: 200px;
    -o-object-fit: cover;
    object-fit: cover;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    width: auto;
    height: 75px;
    margin-top: 40px;
    padding: 5px;
    color: #2364aa;
    font-weight: bold;
    font-size: 50px;
    -webkit-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    color: #ffffff;
}

/* Caption text */
.text {
    color: #04376f;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 12px;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* The dots/bullets/indicators */
.dot-container {
    margin: 10px;
    text-align: center;
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ffffff;
    opacity: 0.2;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: background-color 0.6s ease;
    -o-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    opacity: 1;
}






.tab-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

/* Style the tab */
.tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    max-width: 900px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    overflow: hidden;
    /*background-color: #2364aa;*/
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: rgba(35, 100, 170, 0.6);
    font-family: Arial;
    font-weight: bold;
    /*float: left;*/
    width: 100%;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    opacity: 1;
    background-color: rgba(35, 100, 170, 1);
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: rgba(35, 100, 170, 1);
}

/* Style the tab content */
.tabcontent {
    display: none;
    width: 100%;
    max-width: 900px;
    margin: 10px;
    /*border: 1px solid #ccc;*/
    /*border-top: none;*/
}

.tabcontent table {
    /*margin: 10px;*/
}